language: java
sudo: false
before_install:
- openssl aes-256-cbc -K $encrypted_06638cbdde88_key -iv $encrypted_06638cbdde88_iv -in secrets.tar.enc -out secrets.tar -d
- tar xvf secrets.tar
- export DEVICE_HIVE_REST_URL='http://playground-dev.devicehive.com/api/rest'
- export DEVICE_HIVE_WS_URL='ws://playground-dev.devicehive.com/api/websocket'
- export DEVICE_HIVE_ADMIN_LOGIN=$(cat login.txt)
- export DEVICE_HIVE_ADMIN_PASSWORD=$(cat password.txt)
script: mvn --quiet clean verify -Durl=$DEVICE_HIVE_REST_URL -DwsUrl=$DEVICE_HIVE_WS_URL -Dlogin=$DEVICE_HIVE_ADMIN_LOGIN -Dpassword=$DEVICE_HIVE_ADMIN_PASSWORD
